.displayLight,
.displayDark,
.settingsLight,
.settingsDark {
	margin: 100px auto;
	padding: 15px;
	width: 250px;
	min-height: 250px;
	border-radius: 10px;
	border: 3px solid rgb(67, 67, 75);

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 20px;

	position: relative;
}

.displayLight,
.settingsLight {
	background-color: rgb(168, 175, 174);
}

.displayDark,
.settingsDark {
	background-color: rgb(59, 99, 93);
}

.themeBtn {
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
}

.value,
.valueRed {
	font-size: 95px;
}

.valueRed {
	color: red;
}

.buttons {
	display: flex;
	gap: 30px;
}

.button {
	border: 1px solid black;
	border-radius: 5px;
	width: 75px;
	height: 20px;
}
